<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cangle.hapimity.dao.AppAnswerMapper">
  <resultMap id="BaseResultMap" type="com.cangle.hapimity.domain.AppAnswer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="stars" jdbcType="INTEGER" property="stars" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.String">
    delete from app_answer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cangle.hapimity.domain.AppAnswer">
    insert into app_answer (id, answer, stars, 
      user_id, question_id, status, gmt_create, gmt_update
      )
    values (#{id,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{stars,jdbcType=INTEGER}, 
      #{userId,jdbcType=VARCHAR}, #{question_id,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateById" parameterType="com.cangle.hapimity.domain.AppAnswer">
    update app_answer
    set answer = #{answer,jdbcType=VARCHAR},
      stars = #{stars,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, answer, stars, user_id, question_id, status, gmt_create, gmt_update
    from app_answer
    where id = #{id,jdbcType=VARCHAR}
      And status != -1
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, answer, stars, user_id, question_id, status, gmt_create, gmt_update
    from app_answer
      And status != -1
  </select>
</mapper>